@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}
:root {
  --background-prim: #F6F9FF;
  --background-sec: #FFFFFF;
  --background-terc: #D9D9D9;
  --text-prim: #01276E;
  --main: #247DBD;
  --red: #D31313;
  --green: #31AE05;
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1400px;
}
html {
  font-size: 1rem;
}
body {
  font-family: "Nunito", sans-serif;
  background-color: var(--background-prim);
}
h1 {
  font-weight: 600;
}
button {
  outline: none;
  cursor: pointer;
}
input {
  border: none;
  outline: none;
}
.toggle_sidebar #sideBar {
  left: -300px;
}
.toggle_sidebar #mainWrapper {
  margin-left: 0;
}
@media (max-width: 992px) {
  .toggle_sidebar #sideBar {
    left: 0;
  }
  .toggle_sidebar #mainWrapper {
    margin-left: 300px;
  }
}
@media (max-width: 768px) {
  .toggle_sidebar #sideBar {
    width: 100%;
  }
  .toggle_sidebar #mainWrapper {
    margin-left: 0;
  }
}