.canvas_bg {
    background: var(--background-prim) !important;
    border-left: 2px solid var(--orange) !important;
    border-radius: 10px 0 0 10px !important;
}
.canvas_title {
    color: var(--text-prim) !important;
    font-size: 2rem !important;
}
.canvas_body p {
    color: var(--text-prim) !important;
    font-size: 1.5rem !important;
}
.close_btn {
    border: none;
    border-radius: 50%;
    background-color: transparent;
}
.close_icon {
    width: 2rem;
    height: 2rem;
    fill: var(--orange);
    transition: 400ms ease-in-out;
}
.close_btn:hover .close_icon {
    fill: var(--text-prim);
}