.canvas_bg {
    background: var(--background-prim) !important;
}
.canvas_title {
    color: var(--text-prim) !important;
    font-size: 2rem !important;
}
.canvas_body p {
    color: var(--text-prim) !important;
    font-size: 1.5rem !important;
}
.card {
    background: var(--background-sec) !important;
    border-radius: 10px !important;
    margin-bottom: 1rem !important;
}
.card_body {
    display: flex !important;
    justify-content: space-between !important;
    color: var(--text-prim) !important;
    font-size: 1rem !important;
}
.close_btn, .chat_btn {
    border: none;
    border-radius: 50%;
    background-color: transparent;
}
.close_icon {
    width: 2rem;
    height: 2rem;
    fill: var(--main);
    transition: 400ms ease-in-out;
}
.close_btn:hover .close_icon {
    fill: var(--text-prim);
}
.nav_icons_stroke {
    width: 1.5rem;
    height: 1.5rem;
    stroke: var(--main);
}
.nav_chat_btn {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: .5rem 1rem .5rem 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 300ms ease-in-out;
}
.nav_chat_btn:hover {
    background-color: var(--background-prim);
}
.nav_chat_btn .nav_chat_icon {
    width: 2rem;
    height: 2rem;
    stroke: var(--main);
    transition: 300ms ease-in-out;
}