.cta_button {
    color: var(--main);
    background-color: var(--background-prim);
    border: 1px solid var(--background-terc);
    cursor: pointer;
    outline: none;
    transition: 400ms ease-in-out;
}
.loading_button {
    display: grid;
    place-items: center;
}
.button_lg {
    width: 10rem;
    height: 3.5rem;
    padding: 10px;
    font-size: 1.3rem;
    border-radius: 10px;
}
.button_sm {
    width: 7rem;
    height: 2.5rem;
    padding: 3px;
    font-size: 1rem;
    border-radius: 10px;
}
.loading_button_lg {
    width: 25%;
    height: 3.5rem;
    margin: 2rem auto;
    padding: 5px;
    font-size: 1.3rem;
    border-radius: 10px;
}
.loading_button_sm {
    width: 7rem;
    height: 2.5rem;
    padding: 3px;
    font-size: 1rem;
    border-radius: 10px;
}
.cta_button:hover {
    background-color: var(--background-sec);
    transform: translateY(-2px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}