.btn {
    margin: 0 1rem 1rem 1rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 300ms ease-in-out;
    border-radius: 10px;
    padding: .5rem 1rem .5rem 1rem;
}
.nav_item {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;
}
.nav_item p {
    font-size: 1.5rem;
    color: var(--text-prim);
    text-decoration: none;
    transition: 300ms ease-in-out;
}
.nav_icons_stroke {
    width: 2rem;
    height: 2rem;
    stroke: var(--orange);
}
.nav_icons_fill {
    width: 2rem;
    height: 2rem;
    fill: var(--orange);
}
.btn:hover {
    background-color: var(--text-prim);
}
.btn:hover p {
    color: var(--background-sec);
}
@media (max-width: 992px) {
    .nav_item p {
        display: none;
    }
    .nav_item {
        justify-content: center;
    }
}