.container {
    margin-top: 2rem !important;
    background-color: var(--background-sec) !important;
    border: none !important;
}
.header_text {
    display: flex;
    align-items: end;
    gap: .5rem;
    padding: 1.5rem 5rem 1.5rem 1rem;
}
.header_text h1 {
    color: var(--text-prim);
    font-size: 2rem;
}
.header_text p {
    color: var(--main) !important;
    font-size: 1rem;
}
.card_body {
    padding: 0 2rem 0 2rem !important;
}
.body_text {
    color: var(--text-prim) !important;
    font-size: 1rem !important;
}
.body_text span {
    color: var(--main);
    font-size: 1.2rem;
}
.toggle_btn {
    position: absolute;
    inset: 0;
    background-color: transparent;
    border: none;
}
.toggle_icon {
    position: absolute;
    top: 30%;
    right: 2rem;
    width: 2.5rem;
    fill: var(--main);
    transition: 300ms ease-in-out;
}
.toggle_icon_rotated {
    rotate: -180deg;
}
.info_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.info_wrapper {
    width: 50%;
    padding: 1rem;
    margin-top: 2rem 2rem 0 2rem;
    border-radius: 10px;
    background-color: var(--background-prim);
}
.reported_wrapper span {
    padding-right: 5px;
    font-size: 1.2rem;
    color: var(--main);
}
.reported_wrapper ul {
    display: inline;
    list-style: none;
    padding: 0;
}
.reported_wrapper ul li {
    display: inline;
    font-size: 1rem;
    color: var(--text-prim);
}
.reported_users_wrapper {
    max-width: 100%;
}
.professor_wrapper {
    text-align: end;
    font-size: 1.5rem;
}
.professor_wrapper p {
    color: var(--main) !important;
}
.professor_wrapper span {
    color: var(--text-prim);
}
.reported_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 2rem 0 2rem 0;
}
.line {
    width: 60%;
    height: 1px;
    background: var(--main);
    border-radius: 10px;
    margin: auto;
    margin-bottom: 1.5rem;
}
@media (max-width: 992px) {
    .header_text h1 {
        font-size: 1.5rem !important;
    }
    .professor_wrapper span {
        font-size: 1.3rem !important;
    }
    .header_text p {
        font-size: 1rem !important;
    }
}
@media (max-width: 576px) {
    .header_text h1 {
        font-size: 1.2rem !important;
    }
    .professor_wrapper p, .card_body p {
        font-size: 1rem !important;
    }
    .professor_wrapper span, .reported_users_wrapper span, .body_text span {
        font-size: 1rem !important;
    }
    .header_text p {
        font-size: .8rem !important;
    }
    .header_text {
        width: 100%;
        flex-direction: column;
        align-items: start;
    }
    .info_container, .reported_container {
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        gap: 1rem;
    }
    .professor_wrapper {
        text-align: center;
    }
    .info_wrapper {
        width: 100%;
    }
    .toggle_icon {
        right: 10px;
    }
}