.create_form {
    max-width: 600px;
    margin: 2rem auto;
    padding: 20px;
    background-color: var(--background-sec);
    border-radius: 8px;
    box-shadow: 0 5px 10px var(--background-terc);
}
.create_form label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: var(--text-prim);
}
.create_form input, .create_form select, .create_form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid var(--background-terc);
    border-radius: 4px;
    font-size: 16px;
}
.create_form input:focus, .create_form select:focus, .create_form textarea:focus {
    border-color: var(--main);
    outline: none;
}
.create_form select {
    cursor: pointer;
}
.create_form textarea {
    resize: vertical;
    min-height: 100px;
}
.create_form .cta_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cta_wrapper {
    flex-direction: row-reverse;
}