.main_wrapper {
    height: 100vh;
    padding-top: 20vh;
}
.form_container {
    margin: auto;
    position: relative;
    max-width: 600px;
    background-color: var(--background-sec);
    box-shadow: 0 5px 10px var(--background-terc);
    border-radius: 1rem;
}
.login_form {
    display: flex;
    flex-direction: column;
}
.login_form h1 {
    margin: 0.5rem 0 1rem 0;
    text-align: center;
    color: var(--text-prim);
    font-size: 2rem;
}
.login_form label {
    color: var(--text-prim);
    margin: 1rem 0 .5rem 20%;
    font-size: 1rem;
}
.login_form input {
    width: 60%;
    margin: auto;
    padding: 0 5px 0 5px;
    color: var(--text-prim);
    border-bottom: 2px solid var(--text-prim) !important;
    background-color: var(--background-sec);
    font-size: 1.2rem;
}
.login_form input::placeholder {
    color: var(--text-prim);
    opacity: 0.2;
}
.login_form button {
    margin: 1.5rem auto;
}
.password_wrapper {
    position: relative;
    width: 60%;
    margin: auto;
}
.password_wrapper input {
    width: calc(100% - 1.5rem);
}
.eye_button {
    position: absolute;
    top: -1.5rem;
    right: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--text-prim);
}
.eye_button:focus {
    outline: none;
}
.eye_icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: transparent;
    stroke: var(--text-prim);
    transition: 300ms ease-in-out;
}
@media (max-width: 576px) {
   .login_form input {
        width: 80%;
   }
   .login_form label {
        margin: 1rem 0 .5rem 10%;
   }
   .login_form button {
        width: 50% !important;
   }
}