.form_wrapper {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: var(--background-sec);
    color: var(--text-prim);
    box-shadow: 0 5px 10px var(--background-terc);
    border-radius: 5px;
}
.upload_file_btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-sec);
    color: var(--text-prim);
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
    border: 1px solid var(--background-terc);
    transition: all 300ms ease;
}
.upload_file_btn input {
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    opacity: 0;
    cursor: pointer;
}
.upload_file_btn:hover {
    transform: translateY(-2px);
    box-shadow: var(--background-terc) -5px 5px;
}