.login_wrapper {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem 2rem;
    background-color: var(--background-sec);
    color: var(--text-prim);
    box-shadow: 0 5px 10px var(--background-terc);
    border-radius: 5px;
}
.login_wrapper header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.login_button {
    margin: 1rem 0;
    min-width: 100%;
}
@media (max-width: 576px) {
    .login_wrapper {
        padding: 1rem 1rem;
    }
}