.form_wrapper {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem 2rem;
    background-color: var(--background-sec);
    color: var(--text-prim);
    box-shadow: 0 5px 10px var(--background-terc);
    border-radius: 5px;
}