.topics_wrapper {
    width: 100%;
    margin: 2rem 0 2rem 0;
}
.no_search_results {
    text-align: center;
    font-size: 1.5rem;
    max-width: 100%;
    text-wrap: wrap;
}
.no_search_results span {
    color: var(--main);
    width: 50%;
    word-wrap: break-word;
}