.main_container {
    display: flex;
    height: 100vh;
    width: 100%;
}
.main_wrapper {
    position: relative;
    width: 100%;
    padding: 7rem 2rem 4rem 2rem;
}
.main_container h1, .main_container p {
    color: var(--text-prim);
}
.chat_wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.messages_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    overflow-y: auto;
    gap: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
}
.messages_wrapper::-webkit-scrollbar {
    width: .5rem;
    border-radius: 1rem;
    background-color: var(--text-prim);
}
.messages_wrapper::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: var(--orange);
}
.message_left {
    display: flex;
    justify-content: start;
}
.message_right {
    display: flex;
    justify-content: end;
}
.message_left .message_box {
    width: 50%;
    background-color: var(--background-sec);
    padding: .7rem .7rem .7rem .7rem;
    border-radius: 0 1rem 1rem 1rem;
}
.message_right .message_box {
    width: 50%;
    background-color: var(--orange);
    padding: .7rem .7rem .7rem .7rem;
    border-radius: 1rem 0 1rem 1rem;
}
.message_left span {
    font-size: 14px;
    color: var(--orange);
} 
.message_right span {
    font-size: 14px;
    color: var(--background-prim);
}
.message_left p, .message_right p {
    font-size: 1.5rem;
    color: var(--text-prim);
    word-wrap: break-word;
}
.message_box .created_at {
    float: right;
}
.input_wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    background-color: var(--background-prim);
    bottom: 1rem;
    left: 300px;
    right: 2rem;
    z-index: 2;
}
.input_wrapper textarea {
    width: 100%;
    height: 3rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: var(--text-prim);
    background-color: var(--background-sec);
    border: 1px solid var(--orange);
    font-size: 1.2rem;
    border-radius: 10px 0 0 10px;
    justify-content: center;
    outline: none;
    resize: none;
}
.input_wrapper textarea::placeholder {
    color: var(--text-prim);
    opacity: 0.2;
}
.input_wrapper button {
    width: 5rem;
    height: 3rem;
    border: none;
    padding-right: 3px;
    background-color: var(--orange);
    border-radius: 0 10px 10px 0;
    transition: 300ms ease-in-out;
}
.input_wrapper button svg {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--text-prim);
}
.input_wrapper button:hover {
    background-color: var(--background-sec);
}
.date_line {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
}
@media (max-width: 992px) {
    .input_wrapper {
        left: 130px;
        right: 5px;
    }
    .message_left .message_box {
        width: 100%;
    }
    .message_right .message_box {
        width: 100%;
    }
    .date_line {
        position: relative;
        display: flex;
    }
}
@media (max-width: 576px) {
    .input_wrapper {
        left: 100px;
        right: 5px;
    }
    .message_left .message_box {
        width: 100%;
    }
    .message_right .message_box {
        width: 100%;
    }
    .input_wrapper textarea::placeholder {
        font-size: 0.7rem;
    }
}