.main_container {
    display: flex;
}
.main_wrapper {
    width: 100%;
}
.home_section {
    height: 100vh;
    padding: 2rem 2rem 0 2rem;
}
.theme_section {
    height: 100vh;
    padding: 2rem 0 0 2rem;
}
.text_wrapper {
    max-width: 600px;
}
.text_wrapper h1 {
    font-size: 4rem;
    letter-spacing: 3px;
    margin-bottom: 3rem;
    color: var(--text-prim);
}
.text_wrapper h1 span {
    color: var(--orange);
}
.text_wrapper p {
    font-size: 1.5rem;
    color: var(--text-prim);
    margin-bottom: 3rem;
}
@media (max-width: 992px) {
    .text_wrapper h1 {
        font-size: 2rem;
    }
    .text_wrapper p {
        font-size: 1.2rem;
    }
    .home_section button {
        width: 100% !important;
    }
}