.main_container {
    display: flex;
}
.main_wrapper {
    width: 100%;
    padding: 7rem 2rem 0 2rem;
}
.reported_topics_header {
    align-items: center !important;
    justify-content: space-between !important;
}
.main_container h1, .main_container p, ul li {
    color: var(--text-prim);
}