.main_wrapper {
    position: relative;
    padding: 4rem 2rem 0 2rem;
    margin-left: 300px;
    transition: all 300ms;
}
.main_wrapper h1, .main_wrapper p {
    color: var(--text-prim);
}
.topics_wrapper, .subjects_wrapper {
    width: 100%;
    margin: 2rem 0 2rem 0;
}
.line {
    width: 100%;
    height: 1px;
    background: var(--text-prim);
    border-radius: 10px;
    margin: auto;
    margin-bottom: 1.5rem;
}
.no_search_results {
    text-align: center;
    font-size: 1.5rem;
    max-width: 100%;
    text-wrap: wrap;
}
.no_search_results span {
    color: var(--main);
    width: 50%;
    word-wrap: break-word;
}
@media (max-width: 992px) {
    .main_wrapper {
        margin-left: 0;
    }
    .no_search_results {
        font-size: 1rem;
    }
}
@media (max-width: 576px) {}