@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background-prim: #F6F9FF;
  --background-sec: #FFFFFF;
  --background-terc: #D2D2D2;
  --text-prim: #012970;
  --main: #247DBD;
  --red: #ff0000;
  --green: #4DC323;
  --yellow: #C3A023;
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1400px;
}
body {
  font-family: "Nunito", sans-serif;
  background-color: var(--background-prim);
}
h1, h2, h3, h4, h5, h6, p, a, span {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
input, textarea {
  border: none;
  outline: none;
}
.toggle_sidebar #sideBar {
  left: -300px;
}
.toggle_sidebar #mainWrapper {
  margin-left: 0;
}
@media (max-width: 992px) {
  .toggle_sidebar #sideBar {
    left: 0;
  }
  .toggle_sidebar #mainWrapper {
    margin-left: 300px;
  }
}