@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background-prim: #1b1b1b;
  --background-sec: #131313;
  --background-terc: #252525;
  --text-prim: #f7f7f7;
  --orange: #f35b1a;
  --red: #ff0000;
  --green: #4DC323;
  --yellow: #C3A023;
}
body {
  font-family: 'Lato', sans-serif;
  background-color: var(--background-prim);
}
::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 1rem;
  background-color: var(--text-prim);
}
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--orange);
}
p, a, span, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}