.canvas_bg {
    background: var(--background-prim);
    position: fixed;
    top: 0;
    right: 0;
    min-width: 350px;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
    animation: fadeIn 300ms ease-in forwards;
}
.canvas_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.canvas_title {
    color: var(--text-prim);
    font-size: 2rem;
}
.canvas_body {
    color: var(--text-prim);
    padding: 1rem;
    overflow-y: auto;
}
.card {
    background: var(--background-sec);
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
}
.card_body {
    display: flex;
    align-items: center;
    color: var(--text-prim);
    gap: 1rem;
    font-size: 1rem;
}
@media (max-width: 768px) {
    .canvas_bg {
        top: 4rem;
    }
}
@media (max-width: 576px) {
    .canvas_bg {
        width: 100%;
    }
    .card_body {
        justify-content: space-between;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}