.canvas_bg {
    background: var(--background-prim);
    position: fixed;
    top: 0;
    right: 0;
    min-width: 300px;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.canvas_bg.show {
    opacity: 1;
    transform: translateX(0);
}
.canvas_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.canvas_title {
    color: var(--text-prim);
    font-size: 2rem;
}
.close_btn {
    background: transparent;
    border: none;
    cursor: pointer;
}
.close_icon {
    width: 2rem;
    height: 2rem;
    fill: var(--main);
    transition: 400ms ease-in-out;
}
.close_btn:hover .close_icon {
    fill: var(--text-prim);
}
.canvas_body {
    padding: 1rem;
    overflow-y: auto;
}
.chats_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.card {
    background: var(--background-sec);
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
}
.card_body {
    display: flex;
    align-items: center;
    color: var(--text-prim);
    gap: 1rem;
    font-size: 1rem;
}
.close_btn, .chat_btn {
    border: none;
    border-radius: 50%;
    background-color: transparent;
}
.close_icon {
    width: 2rem;
    height: 2rem;
    fill: var(--main);
    transition: 400ms ease-in-out;
}
.close_btn:hover .close_icon {
    fill: var(--text-prim);
}
.nav_icons_stroke {
    width: 1.5rem;
    height: 1.5rem;
    stroke: var(--main);
}
.nav_chat_btn {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 300ms ease-in-out;
}
.nav_chat_btn:hover {
    background-color: var(--background-prim);
}
.nav_chat_icon {
    width: 2rem;
    height: 2rem;
    stroke: var(--main);
    transition: 300ms ease-in-out;
}
@media (max-width: 768px) {
    .canvas_bg {
        top: 4rem;
    }
}
@media (max-width: 576px) {
    .canvas_bg {
        width: 100%;
    }
    .card_body {
        justify-content: space-between;
    }
}