.cta_button {
    min-width: 10em;
    color: var(--white);
    background-color: var(--main);
    border: none;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: 400ms ease-in-out;
    border-radius: 0.3em;
}
.button_lg {
    height: 3em;
    padding: 0.5em 1em;
    font-size: 1.3em;
}
.button_sm {
    height: 2.5em;
    padding: 0.25em 0.5em;
    font-size: 1em;
}
.loading_button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button_green {
    color: var(--green);
    background-color: var(--background-sec) !important;
    border: 1px solid var(--green);
}
.button_red {
    color: var(--red);
    background-color: var(--background-sec) !important;
    border: 1px solid var(--red);
    font-weight: bold;
}
.button_green:hover {
    background-color: var(--green) !important;
    color: var(--background-prim) !important;
}
.button_red:hover {
    background-color: var(--red) !important;
    color: var(--background-prim) !important;
}
.cta_button:hover {
    transform: translateY(-2px);
    box-shadow: var(--background-terc) -0.3em 0.3em;
}