.icon_button {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 5px;
    border: none;
    color: var(--text-prim);
    background-color: transparent;
    transition: color, background-color 300ms ease-in-out;
}
.button_green {
    color: var(--green);
}
.button_red {
    color: var(--red);
}
.button_green:hover {
    color: var(--green) !important;
    background-color: var(--background-prim) !important;
}
.button_red:hover {color: var(--red);
    color: var(--red) !important;
    background-color: var(--background-prim) !important;
}
.icon_button:hover {
    color: var(--main);
    background-color: var(--background-prim);
}