.modal_wrapper {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border: none;
    color: var(--text-prim);
    background: rgba(0, 0, 0, 0.3);
    z-index: 4;
}
.modal_content {
    background: var(--background-sec);
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    margin-top: 3rem;
    padding: 1rem;
    position: relative;
}
.modal_title {
    font-size: 2rem;
}
.modal_header {
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal_body {
    padding: 2rem 0;
}
.modal_footer {
    display: flex;
    justify-content: end;
}