.nav_wrapper {
    width: 100%;
    position: fixed;
    display: flex;
    height: 4rem;
    color: var(--text-prim);
    background-color: var(--background-sec);
    box-shadow: 0px 2px 20px rgba(1, 40, 110, 0.2);
    z-index: 4;
    padding: 0 2rem 0 2rem;
}
.left_side {
    display: flex;
    align-items: center;
    width: 50%;
    gap: 1rem;
}
.right_side {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    gap: 1rem;
}
.profile_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px 5px 5px 1rem;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 5px;
    color: var(--text-prim);
    border: 1px solid var(--background-terc);
    background-color: transparent;
    transition: background-color 300ms ease-in-out;
}
.profile_btn:hover {
    background-color: var(--background-prim);
}
.toggle_icon {
    color: var(--text-prim);
    transition: transform 300ms ease-in-out;
}
.toggle_icon.rotated {
    transform: rotate(-180deg);
}
.profile_drop_wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
}
.profile_drop_wrapper .username {
    color: var(--text-prim);
}
.profile_drop_wrapper .status {
    color: var(--main);
}
@media (max-width: 768px) {
    .nav_wrapper {
        padding: 0 1rem;
    }
    .left_side {
        width: 100%;
        justify-content: space-between;
    }
    .right_side {
        display: none;
    }
}