.canvas_bg {
    background: var(--background-prim);
    position: fixed;
    top: 0;
    right: 0;
    min-width: 300px;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.canvas_bg.show {
    opacity: 1;
    transform: translateX(0);
}
.canvas_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
}
.canvas_title {
    color: var(--text-prim);
    font-size: 2rem;
}
.close_btn {
    background: transparent;
    border: none;
    cursor: pointer;
}
.close_icon {
    width: 2rem;
    height: 2rem;
    fill: var(--main);
    transition: fill 0.3s ease-in-out;
}
.close_btn:hover .close_icon {
    fill: var(--text-prim);
}
.canvas_body {
    padding: 1rem;
    overflow-y: auto;
}
.canvas_body p {
    color: var(--text-prim);
    font-size: 1rem;
}
.notification_btn {
    border: none;
    border-radius: 50%;
    background-color: transparent;
}
.nav_icons_fill {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--main);
}
.nav_notification_btn {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.nav_notification_btn:hover {
    background-color: var(--background-prim);
}
.nav_notification_icon {
    width: 2rem;
    height: 2rem;
    fill: var(--main);
}
@media (max-width: 768px) {
    .canvas_bg {
        top: 4rem;
    }
}