.password_wrapper {
    position: relative;
}
.password_wrapper input {
    width: 100%;
    padding: 12px 2rem 12px 12px;
    margin-bottom: 1rem;
    border: 1px solid var(--background-terc);
    background-color: var(--background-prim);
    border-radius: 5px;
    font-size: 1rem;
    color: var(--text-prim);
    font-family: var(--font-prim);
}
.password_wrapper input:focus {
    border-color: var(--main);
    outline: none;
}
.eye_button {
    position: absolute;
    right: 0.5rem;
    top: 12px;
    height: 1.5rem;
    max-width: 1.5rem;
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--text-prim);
}