.container {
    margin-top: 2rem;
    background-color: var(--background-sec);
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-sec);
    padding: 1rem 1.5rem;
    cursor: pointer;
    position: relative;
}
.header_text {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.header_text h1 {
    color: var(--text-prim);
    font-size: 2rem;
}
.header_text p {
    color: var(--main);
    font-size: 1rem;
    margin: 0;
}
.toggle_btn {
    background: transparent;
    border: none;
    cursor: pointer;
}
.toggle_icon {
    width: 2.5rem;
    fill: var(--main);
    transition: transform 300ms ease-in-out;
}
.toggle_icon_rotated {
    transform: rotate(-180deg);
}
.collapse_body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 300ms ease-in-out, opacity 300ms ease-in-out;
    opacity: 0;
}
.collapse_body_open {
    max-height: 1000px;
    opacity: 1;
}
.body_text {
    color: var(--text-prim);
    font-size: 1rem;
}
.body_text span {
    color: var(--main);
    font-size: 1.2rem;
}
.info_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 1rem;
}
.info_wrapper {
    width: 50%;
    padding: 1rem;
    background-color: var(--background-prim);
    border-radius: 10px;
}
.reported_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 2rem 0;
}
.topic_wrapper {
    padding: 0 2rem;
}
.topic_title {
    font-size: 1.7rem;
}
.reported_wrapper span {
    font-size: 1.2rem;
    color: var(--main);
}
.reported_users_wrapper {
    max-width: 100%;
}
.professor_wrapper {
    text-align: end;
    font-size: 1.5rem;
}
.professor_wrapper p {
    color: var(--main);
}
.professor_wrapper span {
    color: var(--text-prim);
}
.line {
    width: 60%;
    height: 1px;
    background: var(--main);
    border-radius: 10px;
    margin: auto;
    margin-bottom: 1.5rem;
}
@media (max-width: 992px) {
    .header_text h1 {
        font-size: 1.5rem;
    }
    .professor_wrapper span {
        font-size: 1.3rem;
    }
    .header_text p {
        font-size: 1rem;
    }
}
@media (max-width: 576px) {
    .header_text h1 {
        font-size: 1.2rem;
    }
    .professor_wrapper p, .card_body p {
        font-size: 1rem;
    }
    .professor_wrapper span, .reported_users_wrapper span, .body_text span {
        font-size: 1rem;
    }
    .header_text p {
        font-size: 0.8rem;
    }
    .header_text {
        flex-direction: column;
        align-items: flex-start;
    }
    .info_container, .reported_container {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .professor_wrapper {
        text-align: center;
    }
    .info_wrapper {
        width: 100%;
    }
    .toggle_icon {
        right: 10px;
    }
}