.topic_header {
    position: sticky;
    display: flex;
    align-items: center;
    padding: 1rem;
    top: 4rem;
    background-color: var(--background-prim);
    border-bottom: 1px solid var(--main);
    z-index: 2;
}
.header_wrapper {
    display: flex;
    align-items: center;
    width: 60%;
    gap: 2rem;
}
.header_wrapper p {
    font-size: 1rem;
    color: var(--main) !important;
}
.header_wrapper h1 {
    color: var(--text-prim);
}
.search_form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input_wrapper {
    position: relative;
    width: 100%;
    margin: auto;
    cursor: pointer;
}
.input_wrapper .input {
    width: 100%;
    height: 2.5rem;
    padding: 0 2.5rem 0 1rem;
    color: var(--text-prim);
    background-color: var(--background-prim);
    border: 2px solid var(--background-terc);
    font-size: 1rem;
    border-radius: 2rem 0 0 2rem;
    outline: none;
}
.input_wrapper .input::placeholder {
    color: var(--text-prim);
    opacity: 0.2;
}
.close_btn {
    position: absolute;
    display: flex;
    align-items: center;
    height: 2.5rem;
    top: 0;
    right: 5px;
    cursor: pointer;
    border: none;
    color: var(--text-prim);
    background-color: transparent;
    transition: color 300ms ease-in-out;
}
.close_btn:hover {
    color: var(--red);
}
.search_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    padding: 0 1rem;
    border-radius: 0 2rem 2rem 0;
    border: none;
    cursor: pointer;
    color: var(--text-prim);
    background-color: var(--background-terc);
    transition: color, background-color 300ms ease-in-out;
}
.search_btn:hover, .search_btn:focus {
    color: var(--white);
    background-color: var(--main);
}
@media (max-width: 992px) {
    .header_wrapper {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .header_wrapper {
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
    }
    .topic_header {
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem 0;
    }
}